.msgContainer{
    width:100%
}

.msgItem {
    width: 100%;
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.msgImg{
    width: 60px;
    height: auto;
}

.msgImg a{
    display: inline-block;
    width: 100%;
    height: auto;
}

.msgImg img{
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    vertical-align: middle;
}

.msgText{
    width: fit-content;
    height: auto;
    max-width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.textTop{
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.msgName{
    display: inline-block;
    margin-right: 20px;
}

.msgDate{
    display: inline-block;
    font-size: 11px;
    line-height: 18px;
    font-weight: 400;
    color: #7a8192;;
}

.textMsg{
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #7a8192;
}

.active {
    font-weight: bold;
    color: #000;
}

hr{
    width: 80%;
    margin: 0 auto;

}
