.error {
  color: brown;
  border: solid 2px brown;
}

.textareaWrp {
  width: 100%;

}
.spanWrp{
  width: 100%;
    text-align: right;
}
.spanWrp span {
  color: brown;
}

.inputWrp {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.label {
  display: block;
  flex: 1 100px;
}

.textarea {
  flex: 2 100px;
}
