  .frends_item{
    width: 40%;
    margin-top: 10px;
    height: auto;
    min-width: 40px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .frends_item img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    min-width: 40px;
}

.frends_item p{
  display: inline-block;
  margin: 5px auto;
  font-size: 0.6 rem;
  color: #fff;
}

.btn {
  padding: 5px 5px 6px;
  font-size: 12.5px;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  text-align: center;
  text-decoration: none;
  background: none;
  background-color: #5181b8;
  color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-sizing: border-box;

}





  