/* profile */
  

  .post{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px 0 0 20px;
  }

  .item{
    color: rgb(18, 4, 87);
  }

  .ava {
    width: 50px;
  }

  .postLikes{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
  }

  .like {
    width: 20px;
    height: auto;
    margin-left: 20px;

  }

  .likeNum{
    font-size: 0.7rem;
    margin-left: 10px;
  }

.like, .likeNum:hover{
    cursor: pointer;
}

  
  
  