


.app-wrapper{
  display: grid;
  --main-background-color: #222835;
  --main-light-color: #fff;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
  "h h"
  "n c";
}


.header{
grid-area: h;
background-color: var(--main-background-color);
}

.header img{
  height: 100%;
}

.nav{
grid-area: n;
background-color: var(--main-background-color);
color: var(--main-light-color);
font-size: 1.2rem;
}

.nav-item{
margin: 10px 15px;
}

.content{
grid-area: c;
background-color: cornflowerblue;
}

.top-img{
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.content .top-img img{
  width: 100%;
  height: auto;
  margin-top: -20%;
}

