h1 {
  text-align: center;
}

.listsWrp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
}

.toDoListItem {
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 20px;
  width: 47%;
  min-height: auto;
  margin: 20px 0 0 0;
  padding: 1%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn {
  position: relative;
  background-color: rgb(81, 129, 184);
  color: var(--main-light-color);
  margin: 10px 0;
  padding: 5px 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

.toDoListItemTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.input {
  width: fit-content;
  padding: 5px 10px;
  margin: 0 1%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* Всплывающая подсказка */

.tooltip {
  cursor: help;
}

.tooltip::after {
  background: rgba(81, 129, 184, 0.8);
  border-radius: 8px 8px 8px 0px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  color: #FFF;
  content: attr(data-tooltip);
  margin-top: -40px;
  opacity: 0;
  padding: 3px 7px;
  position: absolute;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  font-size: 14px;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.tasksList .tooltip>img,
.toDoListItem .tooltip>img {
  width: 20px;
  margin: 0 5px;
}

.tasksTitle{
display: flex;
flex-direction: row;
justify-content: start;
align-items: center;
}

.tasksTitle>p{
  margin: 5px 0;
}


.taskItem{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lineThrough{
  text-decoration: line-through;
}