.wrapper{
  grid-area: n;
  background-color: var(--main-background-color);
  height: 100%
}

.nav{
  width: 100%;
  height: auto;
  color: var(--main-light-color);
  font-size: 1.2rem;
  margin: 20px 0;
  
  }
  
  .item{
  margin: 10px 15px;
  }

  .active {
    font-style: italic;
    font-weight: bold;
  }



  