/* profile */

.profileNewsForm {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 20px;
}

h3 {
  margin-left: 20px;
}

#youNews {
  width: 100%;
  min-width: 100px;
  height: 100px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.textareaWrp{
    width: 100%;
}

.error{
    border: solid 2px brown;
}

.spanWrp span{
    color: brown;
}

.btn {
  width: 100px;
  background-color: #5181b8;
  color: var(--main-light-color);
  margin: 10px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

